@import 'tailwindcss';

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[type='file'],
[multiple],
textarea,
select {
  @apply w-full border border-gray-300 py-2.5 px-2 focus:outline-none focus:ring-2 focus:ring-sky-500 transition-all duration-300;
}

textarea {
  @apply h-[150px];
}